<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="info.nivieru.ScreenshotSaver"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="7"/>

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:icon="@drawable/screenshot_toggle"
		android:label="@string/app_name">
		<activity
			android:name=".ToggleScreenshotSaver"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<receiver android:name="Scheduler"
			android:enabled="false">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>

		<service android:name="TakeScreenshot">
		</service>
	</application>

</manifest>
